<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'css/*.min.css'
            'css/style.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>{% block pagetitle %}Planning Poker{% endblock %}</h1>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
            'bundles/fosjsrouting/js/router.js'
            'js/jquery-1.11.3.min.js'
            'js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}
    </body>
</html>
