i.fa {
    color: #a91a10;
}

.row.card-selection div[class*="col-"] {
    padding: 5px;
}

.card-panel {
    height: 300px;
}

.card-panel .panel-body {
    height: 100%;
    padding: 0;
}

.card-panel .panel-body h3 {
    line-height: 300px;
    margin: 0;
}

.card-panel * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
}

.card-panel:hover {
    cursor: pointer;
}

.card-panel:not(.card-selected):hover {
    background-color: #f9f9f9;
    border-color: #808080;
}

.card-selected {
    background-color: #a91a10;
    border-color: #9b1910;
}

.card-selected * {
    color: #ffffff;
}

@media (max-width: 768px ) {
    .card-panel {
        height: 100px !important;
    }

    .card-panel .panel-body h3 {
        line-height: 100px !important;
    }
}