h1 i.fa,
h2 i.fa,
h3 i.fa {
    color: #a91a10;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.row.card-selection div[class*="col-"] {
    padding: 5px;
}

.card-panel {
    height: 300px;
}

.card-panel .panel-body {
    height: 100%;
    padding: 0;
}

.card-panel .panel-body h3 {
    line-height: 300px;
    margin: 0;
}

.card-panel * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
}

.card-panel:hover {
    cursor: pointer;
}

.card-panel:not(.card-selected):hover {
    background-color: #f9f9f9;
    border-color: #808080;
}

.card-selected {
    background-color: #a91a10;
    border-color: #9b1910;
}

.card-current {
    background-color: #EC4B4B;
    border-color: #FF1100;
}

.card-selected * {
    color: #ffffff;
}

.alertify-notifier {
    top: 10px;
    bottom: auto;
}

.ajs-error {
    color: #fff;
}

.ajs-success{
    color: #fff;
}

@media (max-width: 768px ) {
    .card-panel {
        height: 100px !important;
    }

    .card-panel .panel-body h3 {
        line-height: 100px !important;
    }
}