{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Groep</th>
                <th>Token</th>
                <th></th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.token }}</td>
                    <td class="text-center">
                        <a href="{{ path('planning', {'token': group.token}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-fw fa-users"></i> Deelnemen
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('create_group') }}">Groep aanmaken</a>
    </div>
{% endblock %}